@charset "UTF-8";

/* layout */
#header {margin:25px 0 0;border-top:1px solid #e0e0e0;}
#header .headTop {width:1050px;height:25px;margin:-25px auto 0;}
#header .headAlert {float:left;margin:3px 0 0;}
#header .headAlert a {position:relative;display:block;width:16px;height:16px;background:url(../images/bg_alert.png) no-repeat;text-indent:-9999px;}
#header .headAlert a.on {background-position:0 -16px;}
#header .headAlert span {display:none;position:absolute;top:-3px;left:8px;width:22px;height:22px;line-height:20px;background:#f44305;border-radius:50%;color:#fff;font-size:13px;text-align:center;text-indent:0;}
#header .headAlert a.on span {display:block;}
#header .headLink {float:right;}
#header .headLink a {float:left;height:25px;line-height:22px;padding:0 17px;border-right:1px solid #ddd;color:#959595;font-size:11px;font-weight:100;}
#header .headLink .member {color:#fe5e10;font-weight:400;}
#header .headWrap {position:relative;width:1050px;height:64px;margin:0 auto;padding:22px 0 0;}
#header .headWrap h1 {position:absolute;top:25px;left:0;}
#header .headSearch {width:460px;margin:0 auto;}
#header .headSearch span {display:inline-block;width:365px;height:36px;padding:0 20px;border:3px solid #a7ba76;border-radius:20px;}
#header .headSearch select {width:85px;height:20px;border:0;font-size:12px;}
#header .headSearch .inputTxt {width:265px;height:36px;line-height:36px;border:0;padding:0 5px;}
#header .headSearch button {overflow:hidden;width:42px;height:42px;background:url(../images/btn_search.gif) no-repeat;text-indent:-9999px;}
#header .headBanner {position:absolute;top:20px;right:0;width:220px;height:60px;}

#gnb {width:100%;background:#3a3e49;}
#gnb > ul {width:1048px;margin:0 auto;border-right:1px solid #141414;border-left:1px solid #61646d;}
#gnb ul:after {content:"";display:block;clear:both;}
#gnb > ul > li {float:left;width:20%;}
#gnb > ul > li > a {display:block;height:43px;line-height:43px;background:#3a3e49;border-top:1px solid #3a3e49;border-left:1px solid #141414;border-right:1px solid #61646d;color:#fff;font-size:18px;text-align:center;}
#gnb > ul > li.current > a {color:#fffe94;}
#gnb > ul > li.mediSkin > a {background:#5b5e66;}
#gnb > ul > li.on > a {background:#f7f7f7;color:#232323;}

#gnb .dep2 {display:none;position:absolute;right:0;left:0;background:#f7f7f7;border-bottom:1px solid #52545b;z-index:50;}
#gnb .dep2 ul {width:1050px;margin:0 auto;padding:35px 0 30px;}
#gnb .dep2 li {float:left;width:120px;margin:0 10px;text-align:center;font-size:15px;letter-spacing:-1px;}
#gnb .dep2 li:first-child {margin-left:115px;}
#gnb .dep2 li a {display:block;color:#767676;}
#gnb .dep2 li img {margin:0 0 8px;}

#container {padding:40px 0 135px;}
.main #container {padding:0;}
#container .pageHead {position:relative;width:1050px;margin:0 auto;}
#container .pageTitle {color:#373535;font-size:36px;line-height:1;}
#container .contents {width:1050px;margin:0 auto;}
#container .orderProgress {position:absolute;top:0;right:0;}
#container .orderProgress li {float:left;margin:0 15px 0 0;padding:0 0 0 30px;background:url(../images/bg_order_arr.gif) no-repeat 0 50%;color:#909090;font-size:18px;}
#container .orderProgress li:first-child {padding:0;background:none;}
#container .orderProgress li.current {color:#ff7200;font-weight:bold;}
#container .location {position:absolute;top:15px;right:0;font-size:12px;font-weight:100;}

#footer {border-top:1px solid #c1c3c4;}
#footer .footWrap {width:1050px;height:45px;margin:0 auto;}
#footer .footNoti {float:left;}
#footer .footNoti h2 {float:left;padding:0 35px;line-height:45px;border-left:1px solid #c1c3c4;border-right:1px solid #c1c3c4;color:#878787;font-size:15px;font-weight:normal;}
#footer .footNoti p {float:left;width:260px;padding:10px 0 0 30px;}
#footer .footNoti p a {display:inline-block;max-width:80%;overflow:hidden;font-size:15px;color:#2f2f2f;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle;}
#footer .footNoti p .new {display:inline-block;overflow:hidden;width:14px;height:14px;background:url(../images/icon_new.gif) no-repeat;text-indent:-9999px;vertical-align:middle;}
#footer .footLink {float:right;border-right:1px solid #c1c3c4;}
#footer .footLink a {float:right;padding:0 35px;line-height:45px;border-left:1px solid #c1c3c4;font-size:15px;color:#313131;}
#footer .fooInfoWrap {background:#22262b;border-top:1px solid #000;}
#footer .footInfoMenu {border-bottom:1px solid #3c3f43;}
#footer .footInfoMenu ul {width:1050px;height:30px;margin:0 auto;padding:15px 0 0;}
#footer .footInfoMenu li {float:left;padding:0 23px;border-left:1px solid #919191;line-height:1;}
#footer .footInfoMenu li:first-child {padding-left:0;border:0;}
#footer .footInfoMenu a {color:#919191;font-size:14px;}
#footer .footInfoSection {border-top:1px solid #000;}
#footer .footInfoSection > div {position:relative;width:1050px;height:160px;margin:0 auto;padding:20px 0 0;}
#footer .footInfoSection h3 {color:#a3a2a2;font-size:24px;font-weight:900;}
#footer .footInfo span,
#footer .footInfo small {display:inline-block;margin:0 10px 0 0;color:#929292;font-size:12px;}
#footer .footTimeTell {position:absolute;top:25px;right:0;text-align:right;font-size:12px;color:#9d9d9d;}
#footer .footTimeTell span {font-size:13px;}
#footer .footTimeTell strong {display:block;color:#ff5151;font-size:24px;}
/* //layout */

/* 제품 리스트 */
.prodList ul {zoom:1;margin:0 -15px;}
.prodList ul:after {content:"";display:block;clear:both;}
.prodList li {position:relative;float:left;width:146px;margin:0 17px;}
.prodList .prodLabel {position:absolute;top:0;left:0;width:53px;height:53px;line-height:53px;border-radius:50%;text-align:center;color:#fff;font-size:16px;font-weight:bold;z-index:2;}
.prodList .label1 {background:#df5afc;}
.prodList .label2 {background:#ff2626;}
.prodList .label3 {background:#08c0b9;}
.prodList .labelRank {position:absolute;top:-1px;left:10px;width:35px;height:34px;padding:3px 0 0;background:url(../images/bg_rank.png) no-repeat;text-align:center;color:#f5f7fa;font-size:16px;font-weight:100;z-index:2;}
.prodList .labelRank1 {left:12px;width:50px;height:54px;background:url(../images/bg_rank1.png) no-repeat;font-size:24px;}
.prodList .labelRank2 {background:url(../images/bg_rank2.png) no-repeat;}
.prodList .thumb {position:relative;display:block;overflow:hidden;width:146px;height:146px;border-radius:50%;}
.prodList .thumb .basket {display:none;position:absolute;top:0;right:0;bottom:0;left:0;overflow:hidden;background:url(../images/bg_basket.png) no-repeat 50% 50%;text-indent:-9999px;}
.prodList .thumb:hover .basket {display:block;}
.prodList .prodLink {display:block;text-align:center;}
.prodList .txt {display:block;overflow:hidden;height:40px;margin:20px 0 0;color:#505050;text-align:center;}
.prodList .prodLink del {color:#979797;}
.prodList .prodLink .sale {margin:0 0 0 6px;color:#e91844;font-size:18px;}
.prodList .prodLink .price {color:#1d1d1d;font-size:18px;}

.prodList .prodListType2 {}
.prodListType2 .thumb {width:145px;height:145px;border-radius:0;border:1px solid #e1e1e1;}

.prodList .prodListType3 {position:relative;margin:-20px -19px 0;padding:0 0 0 288px;}
.prodListType3 li {width:160px;margin:20px 19px; 0}
.prodListType3 .thumb {width:158px;height:158px;background:#fafafa;border-radius:0;border:1px solid #e1e1e1;}
.prodListType3 li:nth-of-type(2n) .thumb {background:#fff;}
.prodListType3 .txt {margin:12px 0 0;}
.prodListType3 .rank1 {position:absolute;top:20px;left:19px;width:250px;height:450px;margin:0;}
.prodListType3 .rank1 .thumb {width:250px;height:450px;border:0;}
/* //제품 리스트 */

/* 탭 메뉴 */
.tabListType2 ul {zoom:1;}
.tabListType2 ul:after {content:"";display:block;clear:both;}
.tabListType2 li {float:left;padding:0 15px;border-left:1px solid #c0c0c0;}
.tabListType2 li:first-child {padding-left:0;border:0;}
.tabListType2 a {color:#303030;font-size:16px;}
.tabListType2 .current a {padding-left:22px;background:url(../images/icon_tabtype2_on.png) no-repeat 0 4px;font-weight:bold;}
/* //탭 메뉴 */

/* 버튼 */
.btnS {display:inline-block;height:18px;line-height:18px;padding:0 5px;font-size:11px;vertical-align:middle;text-align:center;}
button.btnS {height:20px;line-height:1.2;}
.btnM {display:inline-block;height:38px;line-height:38px;padding:0 28px;font-size:12px;vertical-align:middle;text-align:center;}
button.btnM {height:40px;line-height:1.2;}
.btnB {display:inline-block;height:48px;line-height:48px;padding:0 28px;font-size:22px;vertical-align:middle;text-align:center;}
button.btnB {height:50px;line-height:1.2;}

.btnType1 {background:#eaeaea;border:1px solid #dbdbdb;color:#4c4c4c;font-weight:500;}
.btnType2 {background:#8eb035;border:1px solid #8eb035;color:#fff;font-weight:300;}
.btnType3 {background:#b7b7b7;border:1px solid #989898;border-radius:2px;color:#fff;}
.btnType4 {background:#545454;border:1px solid #545454;color:#fff;font-size:14px;}
.btnType5 {background:#9d9d9d;border:1px solid #9d9d9d;color:#fff;font-size:14px;}

.btnFacebook {background:#3a5a9a url(../images/btn_facebook.gif) no-repeat 16px 50%;border:1px solid #3a5a9a;color:#fff;font-size:16px;}
.btnNaver {background:#1ec700 url(../images/btn_naver.gif) no-repeat 14px 50%;border:1px solid #1ec700;color:#fff;font-size:16px;}

/* //버튼 */