@charset "UTF-8";

.brandTabCon .tabCon {display:none;}
.brandTabCon > .on {display:block;}

.brandHosp {width:1050px;overflow:hidden;}
.brandHosp ul {width:1052px;overflow:hidden;margin:-1px -1px 0 0;background:url(../images/contents/bg_tab_logo.gif) repeat;}
.brandHosp li {float:left;width:16.66%;height:60px;background:url(../images/contents/bg_tab_logo_list.gif) no-repeat 100% 50%;text-align:center;}
.brandHosp li:after {content:"";display:inline-block;height:60px;vertical-align:middle;}
.brandHosp li img {vertical-align:middle;}

.allBrand {width:100%;overflow:hidden;padding:25px 0;}
.allBrand ul {zoom:1;overflow:hidden;margin:0 0 0 -1px;background:url(../images/contents/bg_tab_brand.gif) repeat;}
.allBrand li {float:left;width:12.5%;margin:3px 0;}
.allBrand li a {display:block;padding:0 0 0 20px;color:#53534c;font-size:12px;}

.monthRank {padding:30px 0;}
.monthRank .rankHead {width:100%;overflow:hidden;}
.monthRank h1 {float:left;margin:0 50px 0 0;color:#2a2a2a;font-size:24px;}
.monthRank .sortTab {overflow:hidden;float:left;margin:15px 0 0;}
.monthRank .sortTab ul {overflow:hidden;margin:0 -1px;}
.monthRank .sortTab li {float:left;padding:0 20px;line-height:13px;border-right:1px solid #8c8c8c;border-left:1px solid #f0f0f0;}
.monthRank .sortTab a {display:inline-block;color:#707070;font-size:13px;}
.monthRank .sortTab .current a {padding:0 15px 0 0;background:url(../images/contents/bg_sort_current.gif) no-repeat 100% 50%;color:#2e2e2e;}
.monthRank .prodListType3 {margin:20px -30px 0;padding:0;}
.monthRank .prodListType3 .thumb {background:#fff;}
.monthRank .prodListType3 li {margin:0 30px;}

.prodListTop {position:relative;margin:25px 0 15px;}
.prodListTop .sortTab {display:inline-block;overflow:hidden;height:23px;padding:10px 0 0;vertical-align:top;}
.prodListTop .sortTab ul {overflow:hidden;margin:0 -1px;}
.prodListTop .sortTab li {float:left;padding:0 20px;line-height:13px;border-right:1px solid #8c8c8c;border-left:1px solid #f0f0f0;}
.prodListTop .sortTab a {display:inline-block;color:#707070;font-size:13px;}
.prodListTop .sortTab .current a {color:#d07411;}
.prodListTop .btnSmart {position:absolute;top:0;right:0;}
.prodListTop .btnSmart button {width:161px;height:34px;background:#f8f8f8;border:1px solid #d6d6d6;color:#1f1f1f;font-size:13px;font-weight:bold;}
.prodListTop .btnSmart button:after {content:"";display:inline-block;width:16px;height:16px;margin:0 0 0 5px;background:url(../images/contents/icon_smart_arr.gif) no-repeat;vertical-align:-3px;}
.prodListTop .btnSmart button.on {border-bottom:0;}
.prodListTop .smartSet {padding:17px 22px;background:#f8f8f8;border:1px solid #d6d6d6;}
.prodListTop .smartSet .tit {padding:5px 0 0;color:#7b7e4d;font-size:14px;}
.prodListTop .smartSet label {display:inline-block;color:#53534c;font-size:12px;}
.prodListTop .smartSet label input {margin:0 3px 0 0;vertical-align:-2px;}
.prodListTop .smartSetTop {width:100%;overflow:hidden;padding:0 0 20px;border-bottom:1px solid #fff;}
.prodListTop .smartSet .age {float:left;width:189px;height:120px;padding:0 0 0 10px;border-right:1px solid #dcdcdc;}
.prodListTop .smartSet .age label {width:74px;}
.prodListTop .smartSet .price {float:left;width:285px;height:120px;padding:0 0 0 50px;border-left:1px solid #fff;border-right:1px solid #dcdcdc;}
.prodListTop .smartSet .price label {width:120px;}
.prodListTop .smartSet .type {float:left;width:414px;height:120px;padding:0 0 0 50px;border-left:1px solid #fff;}
.prodListTop .smartSet .type label {width:135px;}
.prodListTop .smartSet .brand {position:relative;padding:13px 65px 0 78px;border-top:1px solid #dcdcdc;}
.prodListTop .smartSet .brand .tit {position:absolute;top:15px;left:10px;}
.prodListTop .smartSet .brand label {width:120px;}
.prodListTop .smartSet .brand .more {position:absolute;top:22px;right:0;width:90px;height:22px;line-height:22px;background:#fff;border:1px solid #a7a7a7;font-size:11px;font-weight:normal;}
.prodListTop .smartSet .brand .more:after {content:"";display:inline-block;width:10px;height:10px;margin:0 0 0 4px;background:url(../images/contents/btn_brand_more.gif) no-repeat;vertical-align:middle;}
.prodListTop .smartSet .brand .brandHide:after {width:10px;height:10px;background:url(../images/contents/btn_brand_hide.gif) no-repeat;}

.searchResult .txt {line-height:40px;background:#fcfcfc;border:1px solid #8dc8ca;color:#3d3d3d;text-align:center;font-size:16px;font-weight:normal;}
.searchResult .txt strong {font-weight:normal;}
.searchResult .list {padding:0 40px;background:#f7f7f7;}
.searchResult .list p {padding:12px 0;border-top:1px solid #d0d0d0;color:#676767;font-size:13px;}
.searchResult .list p:first-child {border:0;}
.searchResult .list p span {display:inline-block;margin:0 5px 0 0;}
.searchResult .list .sym {margin:0 5px;font-family:dotum, '돋움';}

.prodDetailTop {zoom:1;padding:30px 0 0;border-top:1px solid #ddd;}
.prodDetailTop:after {content:"";display:block;clear:both;}
.prodDetailImg {position:relative;float:left;width:490px;height:590px;}
.prodDetailImg .prodSimg {position:absolute;bottom:0;left:0;right:0;text-align:center;}
.prodDetailImg .prodSimg img {width:79px;height:79px;border:2px solid #e9e9e9;}
.prodDetailImg .prodBimg {text-align:center;}

.prodDetailInfo {position:relative;float:right;width:525px;}
.prodDetailInfo .name {color:#000;font-size:30px;}
.prodDetailInfo .name span {display:block;font-size:24px;font-weight:normal;}
.prodDetailInfo .txt {margin:10px 0;padding:14px;background:#f5f5f5;color:#5a868b;}
.prodDetailInfo th {height:35px;padding:0 0 0 10px;text-align:left;color:#616161;font-weight:normal;font-size:15px;}
.prodDetailInfo th:before {content:"";display:inline-block;width:4px;height:4px;margin:0 10px 0 0;background:#7a7a7a;vertical-align:4px;}
.prodDetailInfo td {color:#282828;font-size:15px;}
.prodDetailInfo td .price {color:#ff4200;font-size:24px;font-weight:bold;}
.prodDetailInfo td .option {display:inline-block;position:relative;margin:0 7px 0 0;padding:0 24px;border:1px solid #c2c7cc;vertical-align:middle;}
.prodDetailInfo td .option button {position:absolute;top:0;left:0;overflow:hidden;width:24px;height:24px;background:url(../images/btn_prod_minus.gif) no-repeat;text-indent:-9999px;}
.prodDetailInfo td .option .plus {left:auto;right:0;background:url(../images/btn_prod_plus.gif) no-repeat;}
.prodDetailInfo td .option .inputTxt {display:inline-block;width:24px;height:24px;border:0;padding:0;border-left:1px solid #c2c7cc;border-right:1px solid #c2c7cc;text-align:center;}
.prodDetailInfo .btnWrap {overflow:hidden;margin:30px -4px 0;}
.prodDetailInfo .btnWrap:after {content:"";display:block;clear:both;}
.prodDetailInfo .btnWrap span {float:left;width:50%;}
.prodDetailInfo .btnWrap span a {display:block;margin:4px;}

.prodDetailInfo .prodOpt {margin:4px 0 0;height:47px;border:1px solid #454545;border-top:2px solid #454545;}
.prodDetailInfo .prodOpt .type {float:left;width:130px;line-height:47px;text-align:center;color:#555454;}
.prodDetailInfo .prodOpt .point {float:left;width:232px;line-height:47px;border-left:1px solid #454545;color:#959494;text-align:center;}
.prodDetailInfo .prodOpt .point b {color:#4c4c4c;}
.prodDetailInfo .prodOpt .point span {width:18px;display:inline-block;overflow:hidden;height:15px;background:url(../images/icon_point.gif) no-repeat 0 100%;text-indent:-9999px;}
.prodDetailInfo .prodOpt .point .point2 {width:36px;}
.prodDetailInfo .prodOpt .point .point3 {width:54px;}
.prodDetailInfo .prodOpt .point .point4 {width:72px;}
.prodDetailInfo .prodOpt .point .point5 {width:90px;}
.prodDetailInfo .prodOpt .share {float:right;width:158px;height:39px;padding:8px 0 0;border-left:1px solid #454545;text-align:center;}

.prodListWrap {zoom:1;margin:65px 0 0;}
.prodListWrap:after {content:"";display:block;clear:both;}
.prodListWrap > section {position:relative;float:right;width:486px;padding:10px 0 0;}
.prodListWrap > section:first-child {float:left;width:524px;border-right:1px solid #e0e0e0;}
.prodListWrap h2 {margin:0 0 15px;font-size:18px;font-weight:normal;}
.prodListWrap .listNavi {position:absolute;top:15px;right:0;}
.prodListWrap > section:first-child .listNavi {right:35px;}
.prodListWrap .listNavi button {overflow:hidden;width:10px;height:10px;background:#dfe2e7;border-radius:50%;text-indent:-9999px;}
.prodListWrap .listNavi button.active {background:#6b9913;}
.prodListWrap .prodList li {margin:0 13px;}

.prodDetailCon {margin:70px 0 0;}
.prodDetailCon .tit {margin:80px 0 10px 15px;font-size:24px;color:#2a2a2a;}
.prodDetailCon .tableList th,
.prodDetailCon .tableList td {font-size:12px;}

.prodReview {margin:15px 0 0;}
.prodReview li {zoom:1;border-bottom:1px solid #d8d8d8;}
.prodReview:after {content:"";display:block;clear:both;}
.prodReview li a {display:block;width:100%;overflow:hidden;padding:10px 0;background:url(../images/contents/icon_review_arr.gif) no-repeat 99% 50%;}
.prodReview li a > span {display:inline-block;vertical-align:middle;}
.prodReview li .num {width:80px;text-align:center;}
.prodReview li .point {overflow:hidden;width:91px;height:15px;background:url(../images/icon_point.gif) no-repeat;text-indent:-9999px;}
.prodReview li .point1 {background-position:0 0;}
.prodReview li .point2 {background-position:0 -15px;}
.prodReview li .point3 {background-position:0 -30px;}
.prodReview li .point4 {background-position:0 -45px;}
.prodReview li .point5 {background-position:0 -60px;}
.prodReview li .tit {width:570px;margin:0 40px 0 0;padding:0 0 0 30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.prodReview li .writer {width:80px;text-align:center;}
.prodReview li .date {width:120px;text-align:center;}
.prodReview li .con {display:none;padding:15px 15px 15px 208px;background:#f7f7f7;border-top:1px solid #d8d8d8;color:#838383;font-size:13px;}

.mypageMainTop {height:137px;border:1px solid #2e323e;border-top:2px solid #2e323e;}
.mypageMainTop .myClass {float:left;width:164px;height:100%;}
.mypageMainTop .myClassInfo {float:left;width:270px;height:119px;padding:18px 0 0 25px;background:#f9f9f9;}
.mypageMainTop .myClassInfo .tit {color:#141414;font-weight:normal;}
.mypageMainTop .myClassInfo .txt {display:block;margin:8px 0 12px;font-size:11px;color:#868685;}
.mypageMainTop .myClassInfo .txt span {color:#383838;}
.mypageMainTop .myClassInfo .txt strong {color:#353534;}
.mypageMainTop .orderInfo {float:left;width:220px;height:117px;padding:20px 0 0 25px;}
.mypageMainTop .orderInfo .tit {color:#141414;font-size:12px;font-weight:normal;}
.mypageMainTop .orderInfo .list {overflow:hidden;margin:5px 0 8px -25px;color:#4e4a4a;font-size:12px;}
.mypageMainTop .orderInfo .list li {float:left;width:90px;margin:3px 0 0;padding:0 0 0 25px;}
.mypageMainTop .orderInfo .list li span {color:#141414;}
.mypageMainTop .orderInfo .list li span:first-child {display:inline-block;width:38px;color:#4e4a4a;}
.mypageMainTop .mySet {float:right;width:339px;height:134px;padding:3px 0 0;;background:#f9f9f9;}
.mypageMainTop .mySet dl {float:left;width:170px;padding:0 0 0 28px;}
.mypageMainTop .mySet dt {margin:15px 0 5px;color:#141414;font-size:12px;font-weight:normal;}
.mypageMainTop .mySet dd {color:#946f2d;font-size:11px;}
.mypageMainTop .mySet .btn {float:right;width:93px;height:25px;margin:20px 23px 0 0;padding:68px 0 0;background:#fff url(../images/contents/bg_my_set.gif) no-repeat 50% 17px;border:1px solid #cbcbcb;color:#3e5f66;font-size:11px;font-weight:normal;text-align:center;}

.myPoint {margin:22px 0 15px;padding:14px 0;background:#266477;border:1px solid #434343;color:#fff;}
.myPoint th {height:24px;border-right:1px solid #f9f9f9;font-weight:normal;}
.myPoint td {height:24px;padding:0 0 0 35px;font-size:13px;}
.myPoint .txt1 {font-size:14px;}
.myPoint .txt2 {color:#fffc00;font-size:22px;line-height:1;}

.mypageNav {margin:24px 0 0;zoom:1;border:1px solid #e8e8e8;}
.mypageNav:after {content:"";display:block;clear:both;}
.mypageNav .menu1 {background:url(../images/contents/bg_mypage_menu1.gif) no-repeat;}
.mypageNav .menu2 {background:#f8f8f8 url(../images/contents/bg_mypage_menu2.gif) no-repeat;}
.mypageNav .menu3 {background:url(../images/contents/bg_mypage_menu3.gif) no-repeat;}
.mypageNav .menu4 {background:#f8f8f8 url(../images/contents/bg_mypage_menu4.gif) no-repeat;}
.mypageNav .menu5 {background:#f8f8f8 url(../images/contents/bg_mypage_menu5.gif) no-repeat;}
.mypageNav .menu6 {background:url(../images/contents/bg_mypage_menu6.gif) no-repeat;}
.mypageNav .menu7 {background:#f8f8f8 url(../images/contents/bg_mypage_menu7.gif) no-repeat;}
.mypageNav .menu8 {background:url(../images/contents/bg_mypage_menu8.gif) no-repeat;}
.mypageNav li {float:left;width:25%;}
.mypageNav li a {display:block;height:170px;padding:60px 40px 0 0;text-align:right;}
.mypageNav li .tit {display:block;color:#2c7c8b;font-size:24px;font-weight:bold;letter-spacing:-1px;}
.mypageNav li .sub {display:block;color:#898989;}
.mypageNav li .txt {display:block;margin:20px 0 0;color:#a1a1a1;font-size:11px;font-weight:normal;}
.mypageNav li a:hover .tit {color:#ff1e00;}
.mypageNav li a:hover .sub {color:#202020;}

.myTab {margin:0 0 30px;border:1px solid #dadada;border-top:2px solid #2e323e;}
.myTab ul {zoom:1;}
.myTab ul:after {content:"";display:block;clear:both;}
.myTab li {float:left;width:12.5%;}
.myTab a {display:block;padding:15px 0 18px;border-left:1px solid #dadada;color:#7a7a7a;text-align:center;}
.myTab li:first-child a {border:0;}
.myTab .current a {background:#f9f9f9;color:#ed5307;}
.myTab a:before {content:"";display:block;width:60px;height:50px;margin:0 auto 5px;background:url(../images/contents/icon_mytab.png) no-repeat;}
.myTab .current .tab1:before {background-position:0 -50px;}
.myTab .tab2:before {background-position:-60px 0;}
.myTab .current .tab2:before {background-position:-60px -50px;}
.myTab .tab3:before {background-position:-120px 0;}
.myTab .current .tab3:before {background-position:-120px -50px;}
.myTab .tab4:before {background-position:-180px 0;}
.myTab .current .tab4:before {background-position:-180px -50px;}
.myTab .tab5:before {background-position:-240px 0;}
.myTab .current .tab5:before {background-position:-240px -50px;}
.myTab .tab6:before {background-position:-300px 0;}
.myTab .current .tab6:before {background-position:-300px -50px;}
.myTab .tab7:before {background-position:-360px 0;}
.myTab .current .tab7:before {background-position:-360px -50px;}
.myTab .tab8:before {background-position:-420px 0;}
.myTab .current .tab8:before {background-position:-420px -50px;}

.orderNumber {margin:0 0 30px;padding:15px 0;background:#ebeff0;text-align:center;font-size:15px;}
.orderNumber strong {font-size:24px;}

.myCoupon {margin:0 0 30px;text-align:right;}
.myCoupon p {float:left;font-size:11px;text-align:left;}
.myCoupon .inputTxt {height:25px;font-size:12px;}

.mypageProdList h2 {margin:60px 0 12px;color:#303030;font-size:18px;}

.csTab {margin:0 0 60px;border:1px solid #dadada;}
.csTab ul {zoom:1;}
.csTab ul:after {content:"";display:block;clear:both;}
.csTab li {float:left;width:25%;}
.csTab a {display:block;padding:15px 0 18px;color:#555;border-left:1px solid #dadada;text-align:center;}
.csTab li:first-child a {border:0;}
.csTab .current a {background:#f9f9f9;color:#fb5300;}
.csTab a:before {content:"";display:block;width:50px;height:50px;margin:0 auto 5px;background:url(../images/contents/icon_cstab.png) no-repeat;}
.csTab .current .tab1:before {background-position:0 -50px;}
.csTab .tab2:before {background-position:-50px 0;}
.csTab .current .tab2:before {background-position:-50px -50px;}
.csTab .tab3:before {background-position:-100px 0;}
.csTab .current .tab3:before {background-position:-100px -50px;}
.csTab .tab4:before {background-position:-150px 0;}
.csTab .current .tab4:before {background-position:-150px -50px;}
.csTab .tab5:before {background-position:-200px 0;}
.csTab .current .tab5:before {background-position:-200px -50px;}

.benefitTit {margin:50px 0 35px;color:#1d1c1c;font-size:42px;text-align:center;}

.buyerInfo {height:49px;margin:45px 0 0;padding:0 30px;background:url(../images/contents/bg_buyer_info.gif) repeat-x;border:1px solid #b5b5b5;}
.buyerInfo .subTitle2 {float:left;margin:12px 40px 0 0;}
.buyerInfo p {float:left;margin:14px 80px 0 0;}
.buyerInfo .bar {display:inline-block;height:12px;margin:0 10px;border-left:1px solid #505050;text-indent:-9999px;line-height:12px;font-size:0;vertical-align:5px;}

.totalTable {border:6px solid #b7b7b7;}
.totalTable th {height:44px;padding:0 0 0 23px;border-left:1px solid #e5e5e7;font-weight:normal;text-align:left;}
.totalTable td {height:78px;border-top:1px solid #e5e5e7;border-left:1px solid #e5e5e7;}
.totalTable th, {border-left:0;}
.totalTable td:first-child {border-left:0;}
.totalTable td span {display:block;position:relative;padding:0 30px 0 0;text-align:right;color:#232323;}
.totalTable td span b {font-size:24px;font-weight:bold;}
.totalTable td span img {position:absolute;top:0;right:-12px;}

.orderComTxt {color:#463c3c;border-top:1px solid #d5d5d5;font-size:36px;text-align:center;}
.orderComTxt span {display:inline-block;padding:70px 0 70px 90px;background:url(../images/contents/icon_order_com.gif) no-repeat 0 50%;}
.orderComList {margin:10px 0 0 30px;font-size:12px;font-weight:normal;}
 
.noMemOrderTxt {padding:12px 15px;border-top:1px solid #d5d5d5;}
.noMemOrderComTxt {position:relative;margin:0 0 -1px;padding:12px 15px;background:#fff;border-top:1px solid #d5d5d5;border-bottom:1px dashed #787a7a;}

.noMemOrderCom {zoom:1;margin:70px 0 0;}
.noMemOrderCom:after {content:"";display:block;clear:both;}
.noMemOrderCom section {float:right;width:512px;}
.noMemOrderCom section:first-child {float:left;}

.agreeSection {padding:25px;background:#f6f6f6;border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;}
.agreeSection > div {margin:15px 0 0;padding:20px 0 0;border-top:1px solid #e1e1e1;}
.agreeSection > div:first-child {margin:0;padding:0;border:0;}
.agreeSection > div h2 {font-size:14px;}
.agreeSection .agreeBox {overflow:auto;height:120px;margin:5px 0;padding:10px;background:#fff;border:1px solid #b9b9b9;font-size:11px;}
.agreeSection label {font-size:11px;font-weight:normal;}
.agreeSection label .inputChk {vertical-align:middle;}

.loginWrap {width:990px;margin:50px auto 0;}
.loginWrap:after {content:"";display:block;clear:both;}
.loginWrap > div {float:left;width:300px;margin-left:45px;}
.loginWrap > div:first-child {margin:0;}

.loginWrap .inputTxt {width:248px;height:48px;padding:0 25px;background:#fefefe;border:1px solid #dbdbdb;font-size:14px;}
.loginWrap fieldset p {margin:10px 0 0;}
.loginWrap .btnB {width:298px;padding:0;}
.loginWrap .chkB {color:#747373;font-size:12px;}

.loginLink {margin:35px 0 0;padding:12px 0 0;border-top:1px solid #dbdbdb;text-align:center;}
.loginLink a {color:#333;font-size:13px;}
.loginLink .bar {display:inline-block;margin:0 20px;line-height:11px;border-left:1px solid #d6d6d6;text-indent:-9999px;}
.loginWrap .btn a {margin:10px 0 0;}
.loginWrap .tip {margin:12px 0 0;color:#7e7c7c;font-size:12px;text-align:center;}

.nonMem {margin:25px 0 0;}
.nonMem .subTitle {margin-top:30px;}

.joinWrap,
.joinField {width:430px;margin:25px auto 0;}
.joinWrap .btnB {width:100%;margin:10px 0 0;padding:0;}
.joinWrap .joinField {margin:20px 0 0;padding:20px 0 0;border-top:1px solid #d4d4d4;}
.joinField > p {margin:0 0 9px;}
.joinField .inputTxt {height:38px;padding:0 20px;background:#fefefe;border:1px solid #dbdbdb;font-size:12px;}

.joinField > p .btnType1 {float:right;}
.joinField .tip {margin-left:22px;color:#8a8a8a;font-size:11px;}

.agreeWrap {margin:25px 0 0;padding:20px 25px 20px 40px;background:#f6f6f6;}
.agreeWrap > p {position:relative;margin:10px 0 0;padding:0 0 0 15px;background:#ececec;color:#4c4b4b;font-size:13px;line-height:34px;}
.agreeWrap > p:first-child {margin:0;padding:0;background:none;color:#2d2c2c;font-size:15px;line-height:1.7;}
.agreeWrap > p .inputChk {position:absolute;top:10px;left:-20px;}
.agreeWrap > p .conOpen {position:absolute;top:10px;right:13px;padding:0 13px 0 0;background:url(../images/btn_agree_open.gif) no-repeat 100% 50%;font-size:12px;}
.agreeWrap .agreeCon {display:none;height:80px;padding:15px;background:#fff;border:1px solid #e7e7e7;overflow:auto;}

.joinField .btnWrap {margin:15px 0 0;}
.joinField .btnB {display:block;width:100%;}
