@charset "UTF-8";

.mainSlide {position:relative;width:1050px;padding:20px 0;margin:0 auto;}
.mainSlide .slide1 a {position:absolute;border:1px solid #bebebe;}
.mainSlide .slide1 .item2 {left:406px;}
.mainSlide .slide1 .item3 {top:0;right:0;}
.mainSlide .slide1 .item4 {bottom:0;right:0;}
.mainSlide li {height:547px;}
.mainSlide .slideNavi button {position:absolute;top:50%;right:-80px;overflow:hidden;width:48px;height:89px;margin-top:-45px;background:url(../images/btn_slide_next.png) no-repeat;text-indent:-9999px;}
.mainSlide .slidePrev button {left:-80px;right:auto;background:url(../images/btn_slide_prev.png) no-repeat;}

.mainCon {width:1050px;margin:0 auto;padding:50px 0;}
.mainCon h2 {margin:60px 0 0;font-size:28px;line-height:1;color:#303030;}
.mainCon h2 span {font-weight:300;}
.bgSection h2,
.mainCon section:first-child h2 {margin:0;}

.bgSection {background:#f4f7f8;}

.mainCon .tabListType2 {float:right;margin:-20px 0 0;}
.mainCon .prodList {margin:25px 0 0;}
.bgSection .prodList {margin:40px 0 0;}
.mainCon > section {position:relative;}
.mainCon .more a {position:absolute;top:0;right:0;overflow:hidden;width:21px;height:21px;background:url(../images/btn_more.gif) no-repeat;text-indent:-9999px;}
.mainCon .reviewList {margin:25px 0 0;}

.videoWrap {width:100%;overflow:hidden;margin:25px 0 0;}
.videoWrap iframe {float:right;}
.videoWrap iframe:first-child {float:left;}

.reviewList ul:after {content:"";display:block;clear:both;}
.reviewList ul {margin:0 -15px;}
.reviewList li {float:left;width:298px;height:188px;margin:0 15px;padding:20px 15px;border:1px solid #dcdcdc;}
.reviewList .prod {position:relative;display:block;height:85px;padding:0 0 0 100px;}
.reviewList .thumb {position:absolute;top:0;left:0;overflow:hidden;width:100px;height:75px;}
.reviewList .sort {display:block;color:#868686;font-size:12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.reviewList .tit {display:block;color:#373737;font-size:14px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.reviewList .point {display:block;margin:8px 0 0;color:#444;font-size:12px;}
.reviewList .point span {display:inline-block;overflow:hidden;width:91px;height:15px;background:url(../images/icon_point.gif) no-repeat;text-indent:-9999px;}
.reviewList .point .point1 {background-position:0 0;}
.reviewList .point .point2 {background-position:0 -15px;}
.reviewList .point .point3 {background-position:0 -30px;}
.reviewList .point .point4 {background-position:0 -45px;}
.reviewList .point .point5 {background-position:0 -60px;}
.reviewList .info {width:100%;overflow:hidden;padding:10px 0;border-top:1px dashed #bababa;}
.reviewList .info .tag {float:left;}
.reviewList .info .tag span {display:inline-block;padding:0 2px;color:#09b9b7;font-size:11px;border:1px solid #09b9b7;border-radius:3px;}
.reviewList .info .name {float:right;color:#363636;font-size:12px;}
.reviewList .txt {display:block;padding:12px 0 0;border-top:1px solid #e7e7e7;color:#747474;font-size:13px;}